
<meta charset="UTF-8">
<title>DAQSoft-UED部资源共享中心-<%=tit%></title>
<link rel="stylesheet" href="http://filealiyun.geeker.com.cn/ued/geekUI-system/css/base/frame.min.css"/>
<link rel="stylesheet" href="http://filealiyun.geeker.com.cn/ued/zTree/v3.5.29/css/daqTreeStyle/daq-normal-tree.css"/>
<link rel="stylesheet" href="http://filealiyun.geeker.com.cn/ued/geekUI-system/css/base/daq-system.min.css"/>
<link rel="stylesheet" href="http://filealiyun.geeker.com.cn/ued/cropper/cropper.min.css"></link>
<!--<link href="/css/globle.css" rel="stylesheet" />-->
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/admin.globle.css" rel="stylesheet" />
<!--[if IE]>
<script src="/js/html5.js"></script>
<![endif]-->
<!--<link rel="stylesheet" href="./css/admin.globle.css"/>-->
<script src="http://filealiyun.geeker.com.cn/ued/js/jquery-1.8.3.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/js/jquery.tmpl.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/kindeditor/kindeditor-all-min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/webupload/js/webuploader.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/js/jquery.validate.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/geekUI/js/echarts/echarts.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/geekUI-system/js/daq-system.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/geekUI/js/echarts/v1.1.0/echartTools.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/laydate/v5.x/laydate.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/cropper/cropper.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/js/es5-shims/v4.5.9/es5-shim.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/js/es5-shims/v4.5.9/es5-sham.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/zTree/v3.5.29/jquery.ztree.all.min.js"></script>
<script src="/js/utils/tools.js"></script>
