<!--背景图片-->
<div class="home_bg">
  <img class="show" src="/images/admin/login_bg1.jpg" alt="">
  <img src="/images/admin/login_bg2.jpg" alt="">
  <img src="/images/admin/login_bg3.jpg" alt="">
  <img src="/images/admin/login_bg4.jpg" alt="">
  <img src="/images/admin/login_bg5.jpg" alt="">
  <img src="/images/admin/login_bg6.jpg" alt="">
  <img src="/images/admin/login_bg7.jpg" alt="">
  <img src="/images/admin/login_bg8.jpg" alt="">
  <img src="/images/admin/login_bg9.jpg" alt="">
  <img src="/images/admin/login_bg10.jpg" alt="">
</div>
<!--背景图片-->
<div class="home_head">
  <img class="fl home_logo" src="/images/admin/home_logo.png" alt="ued资源共享平台管理系统logo" />
  <ul class="fr home_list">
    <li class="h_bg"><a href="javascript:;"><i class="iconfont">&#xE76D;</i>背景</a>
      <div class="change_bg">
        <span><i></i><img src="/images/admin/icon_bg01.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg02.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg03.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg04.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg05.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg06.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg07.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg08.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg09.jpg" alt="" /> </span>
        <span><i></i><img src="/images/admin/icon_bg10.jpg" alt="" /> </span>
      </div>
    </li>
    <li><a href="javascript:;" onClick="changSrc(this,'/admin/list-user')"><i class="iconfont">&#xE76E;</i><%=locals.session.user.name%></a></li>
    <li><a href="/admin/logout"><i class="iconfont">&#xE76F;</i>退出</a></li>
  </ul>
</div>