<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../_include/include-head",{tit:"角色管理"})%>
    <style>
        .authority-checkbox {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            vertical-align: middle;
            margin: 0 0 0 20px;
            line-height: 18px;
        }

        .authority-checkbox .daq-checkbox {
            margin: 0 10px 0 0;
        }

        .authority-checkbox .daq-checkbox span {
            line-height: 18px;
        }
    </style>
</head>
<body>

<div class="resource-list-container">
    <div class="daq-crumb clearfix mt-20">
        <span>您当前在的位置：UED资源共享平台管理系统</span>
        <i class="crumb-sign crumb-mg">-</i>
        <a href="user-list.html">角色管理</a>
        <i class="crumb-sign crumb-mg">-</i>
        <span>新增</span>
    </div>
    <p class="demo-title"></p>
    <form action="" id="form-msg">
        <div class="form-item-table mt-22">
            <table cellpadding="0" cellspacing="0" width="100%">

            </table>
        </div>
    </form>
</div>


<script type="text/template" id="detailTmp">
    <tr>
        <td class="form-tab-label">
            <label class="form-label"><i class="form-require">*</i>角色代码：</label>
        </td>
        <td>
            <div class="form-table-edit clearfix">
                <div class="daq-inp-rule wid-358 fl">
                    <input type="text" name="code" autocomplete="off" class="form-resource "
                           placeholder="请输入角色代码" value="${data.code}"/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="form-tab-label">
            <label class="form-label"><i class="form-require">*</i>角色名称：</label>
        </td>
        <td>
            <div class="form-table-edit clearfix">
                <div class="daq-inp-rule wid-358 fl">
                    <input type="text" name="name" autocomplete="off" class="form-resource "
                           placeholder="请输入角色名称" value="${data.name}"/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="form-tab-label">
            <label class="form-label">权限：</label>
        </td>
        <td>
            <div class="form-table-edit clearfix">
                <ul id="testTreeGroup" class="daq-normal-tree"></ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="form-tab-label"></td>
        <td>
            <div class="form-table-edit">
                <button class="daq-btn" type="submit">确认保存</button>
                <button type="button" class="daq-btn" id="afreshBtn">重新编辑</button>
            </div>
        </td>
    </tr>
</script>


<!--弹框-成功-->
<script type="text/template" id="popUpSuccess">
    <p class="mb-icon mb-success"><i class="sysfont"></i></p>
    <p class="mb-ask">修改成功！</p>
</script>

<!--弹框-失败-->
<script type="text/template" id="popUpFail">
    <p class="mb-icon mb-fail"><i class="sysfont"></i></p>
    <p class="mb-ask">修改失败！</p>
</script>


<script>

    var id = tools.getUrlParams('id');

    // 定义权限变量
    var menusArr = [];          // 存储点选过程中选中的菜单的id
    var tmpArr = [];            // 存储点选过程中选中的菜单ID和权限ID的对象集合

    var IDMark_Check = "_check",
        IDMark_A = "_a";
    var setting = {
        check: {
            enable: true
        },
        view: {
            addDiyDom: addDiyDom
        },
        callback: {
            onCheck: function (event, treeId, treeNode) {
                var aObj = $("#" + treeNode.tId);
                aObj.find('.daq-checkbox').click();
            }
        }
    };

    var treeName = "testTreeGroup";
    var checkboxs;
    var zNodes = [
        {
            name: '权限配置',
            id: '0',
            children: []
        }];
    function addDiyDom(treeId, treeNode) {
        var aObj = $("#" + treeNode.tId + IDMark_A);
        if (treeNode.operates) {
            var editStr = '<div class="clearfix authority-checkbox">';
            for (var i = 0; i < treeNode.operates.length; i++) {
                var op = treeNode.operates[i];
                if (op.checked) {
                    editStr += '<input type="checkbox" checked name="operates" value="' + op.pId + '" title="' + op.name + '" />';
                } else {
                    editStr += '<input type="checkbox" name="operates" value="' + op.pId + '" title="' + op.name + '" />';
                }
            }
            editStr += '</div>';
            aObj.append(editStr);
            checkboxs = aObj.find('.authority-checkbox').daqCheckbox({
                callback: function (data, obj) {
                    var len = aObj.find('.authority-checkbox input').length;
                    var treeObj = $.fn.zTree.getZTreeObj(treeName);
                    var treeNode2 = treeObj.getNodeByTId(treeNode.tId);

                    if (data.length == len) {
                        treeNode2.checked = true;
                        treeObj.updateNode(treeNode2, true);
                    } else {
                        treeNode2.checked = false;
                        treeObj.updateNode(treeNode2, true);
                    }
                    // 保存权限
                    var flag = $.inArray(treeNode2.id.toString(), menusArr);
                    if (data.length > 0) {
                        if (flag === -1) {
                            menusArr.push(treeNode2.id.toString());
                        }
                        if (tmpArr.length === 0) {
                            tmpArr.push({
                                menuId: treeNode2.id,
                                permissionId: data
                            });
                        } else {
                            if (flag == -1) {
                                tmpArr.push({
                                    menuId: treeNode2.id,
                                    permissionId: data
                                })
                            } else {
                                for (var i = 0; i < tmpArr.length; i++) {
                                    if(tmpArr[i].menuId == treeNode2.id) {
                                        tmpArr[i].permissionId = data;
                                    }
                                }
                            }
                        }
                    } else {
                        if (flag !== -1) {
                            menusArr = menusArr.filter(function (item, index) {
                                if (flag != index) {
                                    return item
                                }
                            })
                            tmpArr = tmpArr.filter(function (item, index) {
                                if (item.menuId != treeNode2.id) {
                                    return item
                                }
                            })
                        }
                    }
                }
            });
        }

    }


    $(function () {

        getDetails();


        //为id为form-msg的表单添加验证
        $("#form-msg").validate({
            debug: true, // 如果这个参数为true，那么表单不会提交，只进行检查，调试时十分方便
            focusInvalid: true, //当为false时，验证无效时，没有焦点响应
            focusCleanup: false, //被验证的元素获得焦点时移除错误信息
            rules: {
                code: "required",
                name: "required",
            },
            messages: {
                code: "请输入角色代码",
                name: "请输入角色名称",
            },
            showErrors: function (errorMap, errorList) {
                // 遍历错误列表
                for (var obj in errorMap) {
                    // 自定义错误提示效果
                    var $parent = $('input[name="' + obj + '"]').parents(".daq-inp-rule");
                    $parent.addClass('error-active');
                }
                // 此处注意，一定要调用默认方法，这样保证提示消息的默认效果
                this.defaultShowErrors();

            },
            // 验证成功的处理
            success: function (element) {
                var $parent = $(element).siblings(".daq-inp-rule");
                $parent.removeClass('error-active');
                // 获取span元素的值保存到变量spanText
                var spanText = $(element).parents().siblings("span").text();
                // 截取"*"后面的字符
                var spanTexts = spanText.split("*")[1];
                // 判断当前节点下是否有图标i
                var isTrue = $(element).parents().siblings("span").children("i").length;
                // 判断有删除图标的输入框，设置当验证成功后用户鼠标再次移入输入框的时候
                if ($parent.find(".resource-delete").length > 0) {
                    $parent.on("mouseenter mouseleave", function (event) {
                        if (event.type == "mouseenter") {
                            // 获取删除按钮图标对象，并显示
                            var $inpClose = $(this).find(".resource-delete");
                            $inpClose.stop().show();
                            // 删除按钮hover事件
                            $inpClose.hover(function () {
                                $(this).css({"color": "#20a0ff"});
                            }, function () {
                                $(this).css({"color": "#b6c0cf"});
                            });
                            // 当用户点击的删除按钮的会后
                            $inpClose.click(function () {
                                // 清空输入框和提示的文字
                                $(this).siblings("input").val("").siblings("label").html("");
                            });
                        } else if (event.type == "mouseleave") {
                            // 显示删除按钮图标
                            $(this).find(".resource-delete").stop().hide();
                        }
                    })
                }
            },
            // 设置失去焦点的情况下验证
            onfocusout: function (element) {
                $(element).valid();
                var $parent = $(element).parents(".daq-inp-rule");
            },
            // 修改错误提示文字位置
            errorPlacement: function (error, element) {
                // 错误提示图标
                error.appendTo(element.parents(".form-table-edit"));
            },
            // jQuery表单提交
            submitHandler: function (form) {
                var data = {};
                data.id = id;
                data.name = $('input[name="name"]').val();
                data.code = $('input[name="code"]').val();
                data.menusIds = ',';
                data.permissionIds = ';';

                function compare(property){
                    return function(a,b){
                        var value1 = a[property];
                        var value2 = b[property];
                        return value1 - value2;
                    }
                }
                tmpArr = tmpArr.sort(compare('menuId'));

                for (var i = 0; i < tmpArr.length; i++) {
                    data.menusIds += tmpArr[i].menuId + ',';
                    data.permissionIds += tmpArr[i].permissionId + ';';
                }

                $.ajax({
                    type: 'post',
                    url: '/admin/role/update',
                    data: data,
                    success: function (result) {
                        if (result.code === 0) {
                            var content = $("#popUpSuccess");
                            $.daqDialog({
                                title: '成功',
                                content: content.html(),
                                mask: true,
                                width: 400,
                                height: 250,
                                model: 'fadeInDown',
                                closeFn: function () {
                                    top.document.location.href = '/admin';
                                }
                            });
                        } else {
                            var content = $("#popUpFail");
                            $.daqDialog({
                                title: '失败',
                                content: content.html(),
                                mask: true,
                                width: 400,
                                height: 250,
                                model: 'fadeInDown'
                            });
                        }
                    }
                })
            }

        });

        // 重新编辑
        $('body').on('click', '#afreshBtn', function () {
            window.location.reload();
        })


        // 获取角色详情
        function getDetails () {
            $.ajax({
                type: 'get',
                url: '/admin/role/getDetails?id=' + id,
                success: function (data) {
                    if (data.code === 0 && data.data) {
                        $('#detailTmp').tmpl({data: data.data}).appendTo('table');
                        var menusIds = data.data.menusIds.slice(1,-1).split(',');
                        var permissionIds = data.data.permissionIds.slice(1,-1).split(';');
                        menusArr = menusIds;
                        for (var i = 0; i < menusIds.length; i++) {
                            tmpArr.push({
                                menuId: menusIds[i],
                                permissionId: permissionIds[i].split(',')
                            })
                        }
                        // 获取菜单树
                        $.ajax({
                            type: 'get',
                            url: '/admin/menuList',
                            data: {
                                flag: 1
                            },
                            success: function (result) {
                                if (result.code === 0) {
                                    var dataList = result.datas;
                                    if (dataList && dataList.length > 0) {
                                        var arr = [];
                                        for (var i = 0; i < dataList.length; i++) {
                                            var item = dataList[i];
                                            if (item.name != '系统首页') {
                                                var obj = {
                                                    name: item.name,
                                                    id: item.codeId
                                                }
                                                arr.push(obj)
                                                if (item.permission) {
                                                    obj.operates = [];
                                                    var perList = item.permission.slice(1, -1).split(',');
                                                    for (var j = 0; j < perList.length; j++) {
                                                        var cid = +perList[j];
                                                        var name = '';
                                                        switch (cid) {
                                                            case 1:
                                                                name = '列表';
                                                                break;
                                                            case 2:
                                                                name = '新增';
                                                                break;
                                                            case 3:
                                                                name = '删除';
                                                                break;
                                                            case 4:
                                                                name = '编辑';
                                                                break;
                                                            case 5:
                                                                name = '审核';
                                                                break;
                                                        }
                                                        obj.operates.push({
                                                            id: perList[j],
                                                            pId: perList[j],
                                                            name: name
                                                        })
                                                    }
                                                }
                                            }
                                        }
                                        for (var i = 0; i < arr.length; i++) {
                                            for (var j = 0; j < menusIds.length; j++) {
                                                var list = permissionIds[j].split(',');
                                                if (menusIds[j] == arr[i].id) {
                                                    for (var k = 0; k < arr[i].operates.length; k++) {
                                                        for (var n = 0; n < list.length; n++) {
                                                            if (list[n] == arr[i].operates[k].id) {
                                                                arr[i].operates[k].checked = true
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        zNodes[0].children = arr;
                                        $('#testTreeGroup').daqTree({
                                            defaultStyleId: 'daq-normal-tree',
                                            nodes: zNodes,
                                            settings: setting,
                                        });
                                        var zTree = $.fn.zTree.getZTreeObj(treeName);//获取ztree对象
                                        var nodes = zTree.getNodes();//获取所有节点
                                        $(nodes).each(function () {
                                            var nowData = $(this)[0],
                                                obj = '#' + $(this)[0].tId + IDMark_Check;
                                            $(obj).on('click', function () {
                                                $('#' + nowData.tId).find('.daq-checkbox').click();
                                                $(this).addClass('checkbox_true_full_focus');
                                            })
                                        })
                                    }
                                }
                            }
                        })
                    }
                }
            })
        }



    })
</script>
</body>
</html>