<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta name="author" content="author,email,address">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta name="keywords" content="素材库平台,中科大旗软件有限公司素材库平台">
    <meta name="description" content="中科大旗软件有限公司素材库平台">
    <meta name="author" content="成都中科大旗软件有限公司">
    <link rel="stylesheet" href="/css/DPL.css">
    <title>DAQSoft-DPL</title>
</head>
<body class="dpl-by">

    <div class="dpl-wrap">
        <ul>
            <li class="dpl-1"><a href="http://s.ued.daqsoft.com/geekUI/system/demo/" target="_blank"></a></li>
            <li class="dpl-2"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-3"><a href="http://s.ued.daqsoft.com/geekUI/mobile/api/#/home" target="_blank"></a></li>
            <li class="dpl-4"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-5"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-6"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-7"><a href="http://s.ued.daqsoft.com/geekECharts/v1.2/src/views/" target="_blank"></a></li>
            <li class="dpl-8"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-9"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-10"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
            <li class="dpl-11"><a href="javascript:alert('工程师正在努力开发中~');"></a></li>
        </ul>
    </div>



</body>
</html>