<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--优先使用 IE 最新版本和 Chrome-->
<meta name="author" content="author,email,address">
<!--优先使用 IE 最新版本和 Chrome-->
<meta name="keywords" content="素材库平台,中科大旗软件有限公司素材库平台">
<meta name="description" content="中科大旗软件有限公司素材库平台">
<meta name="author" content="成都中科大旗软件有限公司">
<title>DAQSoft-UED部资源共享中心-<%=h_tit%></title>
<link rel="stylesheet" href="/css/globle.css">
<link rel="stylesheet" type="text/css" href="/css/member.css">
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/flexslider.scss" />

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/geekUI-system/js/daq-system.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/webupload/js/webuploader.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/map/city.js"></script>
<!--<script src="http://filealiyun.geeker.com.cn/ued/kindeditor/kindeditor-all-min.js"></script>-->
<script src="/js/jquery.flexSlider-min.js"></script>
<script src="/js/lib/kindeditor/kindeditor-all-min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script src="http://filealiyun.geeker.com.cn/ued/js/jquery.tmpl.min.js"></script>
<script src="/js/music.js"></script>
<script src="/js/utils/tools.js"></script>
<script src="/js/jquery.daqImg.js"></script>
<script src="/js/waterFall.js"></script>
<script src="/js/pageList.js"></script>
<script src="/js/common.js"></script>
